/* font imports */
@font-face {
  font-family: Vanguard;
  src: url("../font/VanguardCF-HeavyOblique.otf") format("opentype");
}

@font-face {
  font-family: NPS-Medium;
  src: url("../font/NewPanamSkyline-Medium.otf") format("opentype");
}

@font-face {
  font-family: NPS-Bold;
  src: url("../font/NewPanamSkyline-Bold.otf") format("opentype");
}

@font-face {
  font-family: NPS-Black;
  src: url("../font/NewPanamSkyline-Black.otf") format("opentype");
}

@font-face {
  font-family: NPS-Regular;
  src: url("../font/NewPanamSkyline-Regular.otf") format("opentype");
}

@font-face {
  font-family: Silka-Regular;
  src: url("../font/Silka-Regular.otf") format("opentype");
}

* {
  margin: 0;
}

p {
  line-height: 1.725em;
}

p, h1 {
  color: white;
  font-family: Silka-Regular;
}

h1 {
  font-family: Vanguard;
}

h2 {
  font-family: NPS-Black;
  font-size: 50px;
  color: white;
  line-height: 1em;
}

h3 {
  font-family: NPS-Black;
  font-size: 35px;
  color: white;
  line-height: 1em;
}

h4 {
  font-family: NPS-Bold;
  font-size: 25px;
  color: white;
}

a {
  text-decoration: none;
  font-family: NPS-Medium;
}

body {
  background-color: #262626;
  overflow-x: hidden;
}

#logo {
  font-family: Vanguard;
  font-size: 41px;
  margin: 2rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--gap, 1rem);
}

.primary-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobile-nav-toggle {
  display: none;
}

.primary-navigation {
  list-style: none;
  padding: 3rem;
  margin: 0;
}

@media (max-width: 799px) {
  .primary-navigation {
    gap: var(--gap, 3rem);
    position: fixed;
    inset: 0 0 0 0;
    background: #262626;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10rem 2em;
    z-index: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 350ms ease-out;
    transition: -webkit-transform 350ms ease-out;
    transition: transform 350ms ease-out;
    transition: transform 350ms ease-out, -webkit-transform 350ms ease-out;
  }
  .primary-navigation[data-visible="true"] {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .mobile-nav-toggle {
    display: block;
    position: absolute;
    top: 3rem;
    right: 2rem;
    z-index: 10;
    background-color: transparent;
    background-image: url("../images/burgermenu.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 2rem;
    border: 0;
    aspect-ratio: 1;
  }
  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("../images/close.svg");
  }
}

.hero-section {
  width: 100%;
  background: url("../images/heroPicture.png") no-repeat center/cover;
  height: 83vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-section h1 {
  background-color: #262626;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 7em;
  padding: 0px 25px 0px 25px;
  margin-bottom: -25px;
}

.hero-section #hero-text {
  font-family: Silka-Regular;
  color: #FFF1AA;
  background-color: #262626;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 2.5em;
  padding: 0px 25px 15px;
  margin-top: 20px;
}

.hero-section .hero-content {
  margin-top: auto;
  margin-bottom: auto;
  width: 80vw;
  max-width: 1520px;
  min-width: 800px;
}

.page-wrapper {
  margin: auto;
  width: 80vw;
  max-width: 1520px;
  min-width: 800px;
}

.socials-section {
  padding: 30px;
  width: 450px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

hr {
  margin: auto;
}

.business-section {
  margin: auto;
  margin-top: 10em;
  margin-bottom: 10em;
  max-width: 90ch;
}

.business-section p {
  font-size: 2em;
}

.offer-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.offer-section .left-side {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 10.5rem;
  top: 100px;
  position: sticky;
  position: -webkit-sticky;
  /* Safari */
}

.offer-section .right-side .content-area {
  border: 1px solid white;
  border-right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 460px;
}

.offer-section .right-side .content-area img {
  width: 120px;
}

.offer-section .right-side .content-area .content-text {
  padding-left: 50px;
  width: 45%;
}

.offer-section .right-side .content-area:first-child {
  border-top: 0px;
}

.offer-section .right-side .content-area:last-child {
  border-bottom: 0px;
}

.founder-section {
  background-color: white !important;
}

.founder-section h2, .founder-section p {
  color: #262626;
}

.founder-section .founder-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10.5rem;
  padding-bottom: 2rem;
}

.founder-section .founder-text p {
  width: 70ch;
}

.founder-section .founder-portrait {
  margin-top: 6em;
  gap: 1.75em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 7rem;
  min-width: 360px;
}

.founder-section .founder-portrait .portrait-name {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-family: NPS-Medium;
  font-size: 1.25rem;
  padding: 0.75em 0em;
}

.founder-section .founder-portrait p {
  width: 37ch;
}

.cooperation-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10.5rem;
  padding-bottom: 7rem;
}

.cooperation-section p {
  width: 50ch;
}

.logo-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 7rem;
}

.logo-section img {
  width: 117px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 17%;
          flex: 0 1 17%;
  padding: 1em;
}

.pricing-section .pricing-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10.5rem;
  padding-bottom: 7rem;
}

.pricing-section .pricing-text p {
  width: 50ch;
}

.pricing-section table {
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: #404040;
  padding: 0.75rem;
}

.pricing-section table th {
  padding: 1rem 4rem;
  font-family: NPS-Medium;
}

.pricing-section table td {
  padding: 1rem 4rem;
  font-family: Silka-Regular;
}

.pricing-section table .highlighted {
  font-family: NPS-Bold;
}

.pricing-section .pricing-includes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 5.2em;
  padding-top: 10.5rem;
  padding-bottom: 7rem;
}

.pricing-section ul {
  color: white;
}

.pricing-section ul li {
  font-family: Silka-Regular;
  font-size: 14.5px;
  padding-bottom: 2rem;
}

.last-section {
  background-color: white;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.last-section .cta-section {
  padding-top: 10.5rem;
  padding-bottom: 7rem;
}

.last-section #cta-text {
  font-family: NPS-Bold;
  font-size: 110px;
  color: #151515;
}

.last-section #cta-mail {
  -webkit-text-stroke: #262626 0.5px;
  font-family: NPS-Regular;
  font-size: 90px;
  padding: 5rem;
}

.last-section .footer-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.last-section .footer-font {
  color: #262626;
  font-family: NPS-Regular;
  font-size: 18px;
  padding: 2rem;
}
/*# sourceMappingURL=styles.css.map */